@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: black;
}

body {
  margin: 0;
}

body.debug * {
  outline: 2px solid #0ff;
  outline-offset: -1px;
}

/* Day 1: Blobs */

.day-1-blobs {
  filter: blur(10px) brightness(1.7) saturate(10) contrast(20);
}

/* Day 3: Ink Blob */

.day-3-blobs {
  filter: blur(15px) brightness(2) contrast(20) invert(1);
}

/* Day 4: ZX Spectrum Emulation */

.day-4-zx-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
